.layout {
	height: 100vh;
}

.header {
	display: flex;
	align-items: center;
	justify-content: right;
}

.content-wrapper {
	padding: 3rem;
}

.content {
	height: 100%;
	overflow: auto;
	padding: 2rem;
	background-color: #ffffff;
}